input, textarea, select {
    outline: none;
}

[hide="true"] {
    display: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

:root {
    --color1: rgb(255, 152, 0);
    --color2: rgb(255,87,34);
    --color3: rgb(96,125,139);
    --color4: rgb(63,81,181);
    --color5: rgb(139,195,74);
}

/**
  Layout
**/
.wu-theme-1 .mdl-layout__drawer .mdl-navigation__link.active {
    background-color: var(--color1);
    color: white;
}

.wu-theme-1 .mdl-card form {
    margin: 0 auto;
}

.wu-theme-1 .login.mdl-card,.wu-theme-1 .register.mdl-card  {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 660px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.wu-theme-1 .login.mdl-card .wu-textfield, .wu-theme-1 .register.mdl-card .wu-textfield  {
    width: 600px;
}

.wu-theme-1 .form-actionbar button {
    width: 600px;
}

.wu-theme-1 .form-actionbar {
    text-align: center;
    display: inline-block;
}

.wu-theme-1 .todolist {
    display: flex;
}

/******************************************************
****************** Todo
*******************************************************/
.wu-theme-1 .todo {
    margin: 1rem;
}

.wu-theme-1 .todo .color1 {
    background-color: color(var(--color1) alpha(-40%));
}

.wu-theme-1 .todo .color2 {
    background-color: color(var(--color2) alpha(-30%));
}

.wu-theme-1 .todo .color3 {
    background-color: color(var(--color3) alpha(-30%));
}

.wu-theme-1 .todo .color4 {
    background-color: color(var(--color4) alpha(-30%));
}

.wu-theme-1 .todo .color5 {
    background-color: color(var(--color5) alpha(-30%));
}

.wu-theme-1 .todo .colorpicker button {
    margin: 0 0.3rem;
}

.wu-theme-1 .todo input[type="text"]:not(:focus) {
    border: none;
    font-size: 2rem;
}

.wu-theme-1 .todo textarea {
    border: none;
}

.wu-theme-1 .todo .mdl-card__supporting-text {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.wu-theme-1 .todo .mdl-card__menu {
    display: flex;
    width: 95%;
    width: calc(100% - 32px);
}

.wu-theme-1 .todo-add {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.wu-theme-1 .todo-add .todo__content {
    flex: 0 1 auto;
    font-size: 5rem;
    font-weight: bold;
}

/*
 Select
*/
.wu-select.wu-textfield {
   width: auto;
}

.wu-select select.wu-textfield__input {
    width: auto;
}

/*
 Actionbar
*/
.wu-actionbar {
    padding: 0.2rem 1rem;
}

/*
 Originally mdl textfield code
 Would be nicer with nested css like sass but webstorm does not support nested css with cssnext
 Perhaps I should switch to Atom
 TODO think about it :)
*/
.wu-textfield {
    position: relative;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0; }
.wu-textfield .mdl-button {
    position: absolute;
    bottom: 20px; }

.wu-textfield--align-right {
    text-align: right; }

.wu-textfield--full-width {
    width: 100%; }

.wu-textfield--expandable {
    min-width: 32px;
    width: auto;
    min-height: 32px; }

.wu-textfield__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    display: block;
    font-size: 16px;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: none;
    text-align: left;
    color: inherit; }
.wu-textfield.is-focused .wu-textfield__input {
    outline: none; }
.wu-textfield.is-invalid .wu-textfield__input {
    border-color: rgb(222, 50, 38);
    box-shadow: none; }
.wu-textfield.is-disabled .wu-textfield__input {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0,0,0, 0.12);
    color: rgba(0,0,0, 0.26); }

.wu-textfield textarea.wu-textfield__input {
    display: block; }

.wu-textfield__label {
    bottom: 0;
    color: rgba(0,0,0, 0.26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left; }
.wu-textfield.is-dirty .wu-textfield__label {
    visibility: hidden; }
.wu-textfield--floating-label .wu-textfield__label {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
.wu-textfield.is-disabled.is-disabled .wu-textfield__label {
    color: rgba(0,0,0, 0.26); }
.wu-textfield--floating-label.is-focused .wu-textfield__label,
.wu-textfield--floating-label.is-dirty .wu-textfield__label {
    color: rgb(63,81,181);
    font-size: 12px;
    top: 4px;
    visibility: visible; }
.wu-textfield--floating-label.is-focused .wu-textfield__expandable-holder .wu-textfield__label,
.wu-textfield--floating-label.is-dirty .wu-textfield__expandable-holder .wu-textfield__label {
    top: -16px; }
.wu-textfield--floating-label.is-invalid .wu-textfield__label {
    color: rgb(222, 50, 38);
    font-size: 12px; }
.wu-textfield__label:after {
    background-color: rgb(63,81,181);
    bottom: 20px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px; }
.wu-textfield.is-focused .wu-textfield__label:after {
    left: 0;
    visibility: visible;
    width: 100%; }
.wu-textfield.is-invalid .wu-textfield__label:after {
    background-color: rgb(222, 50, 38); }

.wu-textfield__error {
    color: rgb(222, 50, 38);
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    visibility: hidden;
    display: block; }
.wu-textfield.is-invalid .wu-textfield__error {
    visibility: visible; }

.wu-textfield__expandable-holder {
    display: inline-block;
    position: relative;
    margin-left: 32px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    max-width: 0.1px; }
.wu-textfield.is-focused .wu-textfield__expandable-holder, .wu-textfield.is-dirty .wu-textfield__expandable-holder {
    max-width: 600px; }
.wu-textfield__expandable-holder .wu-textfield__label:after {
    bottom: 0;
}