body, html, #app {
    font-size: 16px;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none!important;
}

input, textarea, select {
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

:root {
    --color1: rgb(255, 152, 0);
    --color2: rgb(255,87,34);
    --color3: rgb(96,125,139);
    --color4: rgb(63,81,181);
    --color5: rgb(139,195,74);
    --color6: rgb(255, 255, 255);
    --color7: rgb(0,0,0);
    --color8: rgb(99, 99, 99);
    --color9: rgb(161, 161, 161);
    --color1Inv: rgb(255, 255, 255);
    --colorText1: rgba(0,0,0,0.87);
    --shadow1: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
}

.layout__container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.layout {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.layout__content {
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    z-index: 1;
}

/**
  Layout
**/
.spacer {
    flex: 1 1 auto;
}

.error-message {
    padding: 0.5rem;
    color: var(--color2);
    font-size: 1rem;
}

.header .header-row {
    padding: 0.4rem 0.4rem 0.2rem 0.8rem;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
}
.header .header-row .icon {
    cursor: pointer;
    font-size: inherit;
    align-self: center;
}

.header .header-row .title {
    margin:0 0 0 0.3rem;
    align-self: center;
    display: inline-block;
    font-size: 3rem;
}

.menu {
    display: none;
    min-width: 240px;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--color6);
    z-index: 10;
    height: 100%;
}

.menu.open {
    display: flex;
}

.menu .title {
    font-size: 3rem;
    padding:2rem 0.5rem;
    text-align: center;
}

.menu .navigation {
    display: flex;
    flex-direction: column;
}

.menu .navigation .link {
    display: block;
    padding: 1rem 0.3rem;
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
    color: var(--color1);
}

.menu .navigation .link.active {
    background-color: var(--color1);
    color: var(--color1Inv);
}

.menu-overlay  {
    background: rgba(158, 158, 158, 0.5);
    width: 100%;
    height: 100%;
    z-index: 9;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.menu-overlay.open {
    display: block;
}

.card {
    padding: 2rem;
    box-shadow: var(--shadow1);
}

.card form {
    margin: 0 auto;
}

.button {
    border: none;
    font-size: 2.5rem;
    padding: 0.4rem;
    box-sizing: border-box;
    background: var(--color6);
    box-shadow: var(--shadow1);
    background: 0 0;
    border-radius: 2px;
    color: var(--colorText1);
    position: relative;
    height: 48px;
    min-width: 64px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow,transform;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.button.icon {
    border-radius: 50%;
    font-size: 24px;
    height: 32px;
    margin-left: 0;
    margin-right: 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    color: inherit;
    line-height: normal;
}

.button.icon .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
}

.button[disabled], .button[disabled]:hover {
    color: var(--color8);
    background: var(--color9);
}

.button:hover, .todo__menu .button:hover {
    color: var(--color1Inv);
    background: var(--color1);
}

.login.card,.register.card  {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 660px;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login .button,.register .button {
    width: 100%;
}

.register .radiogroup__container {
    text-align: left;
}

.register .radio__container {
    margin: 0 1rem;
}

.register .radio__container:first-child {
    margin-left: 0;
}

.register .radio__container .label {
    margin-left: 0.2rem;
}

.login .wu-textfield, .register .wu-textfield  {
    width: 100%;
}

.form-actionbar button {
    width: 600px;
}

.form-actionbar {
    text-align: center;
    line-height: 1;
    margin: 1rem 0 0 0;
}

.todolist {
    display: flex;
    flex-wrap: wrap;
}

/******************************************************
****************** Todo
*******************************************************/
.todo {
    margin: 1rem;
    box-shadow: var(--shadow1);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 330px;
    z-index: 1;
    position: relative;
    background: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}

.todo__title {
    align-items: center;
    color: #000;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: stretch;
    line-height: normal;
    padding:1.2rem 1rem;
    perspective-origin: 165px 56px;
    transform-origin: 165px 56px;
    box-sizing: border-box;
    flex-grow: 1;

}

.todo__supporting-text {
    background-color: var(--color6);
    color: var(--color8);
    font-size: 13px;
    line-height: 18px;
    overflow: hidden;
    width: 90%;
    padding: 0.3rem 0.1rem;
}

.todo__menu {
    position: absolute;
    right: 16px;
    top: 5px;
    display: flex;
    width: 95%;
    width: calc(100% - 32px);
}

.todo__menu .button {
    background-color: var(--color6);
}

.todo__actions {
    border-top: 1px solid rgba(0,0,0,.1);
    font-size: 16px;
    line-height: normal;
    width: 100%;
    background-color: transparent;
    padding: 8px;
    box-sizing: border-box;
}

.todo .color1 {
    background-color: color(var(--color1) alpha(-40%));
}

.todo .color2 {
    background-color: color(var(--color2) alpha(-30%));
}

.todo .color3 {
    background-color: color(var(--color3) alpha(-30%));
}

.todo .color4 {
    background-color: color(var(--color4) alpha(-30%));
}

.todo .color5 {
    background-color: color(var(--color5) alpha(-30%));
}

.todo .colorpicker button {
    margin: 0 0.3rem;
}

.todo input[type="text"]:not(:focus) {
    border: none;
    font-size: 2rem;
}

.todo textarea {
    border: none;
}

.todo-add {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.todo-add .todo__content {
    flex: 0 1 auto;
    font-size: 5rem;
    font-weight: bold;
}

/*
 Select
*/
.wu-select.wu-textfield {
   width: auto;
}

.wu-select select.wu-textfield__input {
    width: auto;
}

/*
 Actionbar
*/
.wu-actionbar {
    padding: 0.2rem 1rem;
}

/*
https://github.com/tobiasahlin/SpinKit/blob/master/css/spinkit.css
*/
.spinner {
    width: 40px;
    height: 40px;
    background-color: var(--color1);
    margin: 0 auto;
    -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
    animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
    100% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }



/*
 Originally mdl textfield code
 Would be nicer with nested css like sass but webstorm does not support nested css with cssnext
 Perhaps I should switch to Atom
 TODO think about it :)
*/
.wu-textfield {
    position: relative;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    width: 300px;
    max-width: 100%;
    margin: 0;
    padding: 20px 0;
}

.wu-textfield--align-right {
    text-align: right; }

.wu-textfield--full-width {
    width: 100%; }

.wu-textfield--expandable {
    min-width: 32px;
    width: auto;
    min-height: 32px; }

.wu-textfield__input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0, 0.12);
    display: block;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: none;
    text-align: left;
    color: inherit; }
.wu-textfield.is-focused .wu-textfield__input {
    outline: none; }
.wu-textfield.is-invalid .wu-textfield__input {
    border-color: rgb(222, 50, 38);
    box-shadow: none; }
.wu-textfield.is-disabled .wu-textfield__input {
    background-color: transparent;
    border-bottom: 1px dotted rgba(0,0,0, 0.12);
    color: rgba(0,0,0, 0.26); }

.wu-textfield textarea.wu-textfield__input {
    display: block; }

.wu-textfield__label {
    bottom: 0;
    color: rgba(0,0,0, 0.26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 24px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left; }
.wu-textfield.is-dirty .wu-textfield__label {
    visibility: hidden; }
.wu-textfield--floating-label .wu-textfield__label {
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); }
.wu-textfield.is-disabled.is-disabled .wu-textfield__label {
    color: rgba(0,0,0, 0.26); }
.wu-textfield--floating-label.is-focused .wu-textfield__label,
.wu-textfield--floating-label.is-dirty .wu-textfield__label {
    color: rgb(63,81,181);
    font-size: 12px;
    top: 4px;
    visibility: visible; }
.wu-textfield--floating-label.is-focused .wu-textfield__expandable-holder .wu-textfield__label,
.wu-textfield--floating-label.is-dirty .wu-textfield__expandable-holder .wu-textfield__label {
    top: -16px; }
.wu-textfield--floating-label.is-invalid .wu-textfield__label {
    color: rgb(222, 50, 38);
    font-size: 12px; }
.wu-textfield__label:after {
    background-color: rgb(63,81,181);
    bottom: 20px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px; }
.wu-textfield.is-focused .wu-textfield__label:after {
    left: 0;
    visibility: visible;
    width: 100%; }
.wu-textfield.is-invalid .wu-textfield__label:after {
    background-color: rgb(222, 50, 38); }

.wu-textfield__error {
    color: rgb(222, 50, 38);
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    visibility: hidden;
    display: block; }
.wu-textfield.is-invalid .wu-textfield__error {
    visibility: visible; }

.wu-textfield__expandable-holder {
    display: inline-block;
    position: relative;
    margin-left: 32px;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-block;
    max-width: 0.1px; }
.wu-textfield.is-focused .wu-textfield__expandable-holder, .wu-textfield.is-dirty .wu-textfield__expandable-holder {
    max-width: 600px; }
.wu-textfield__expandable-holder .wu-textfield__label:after {
    bottom: 0;
}
